.country {
    width: calc(100% - 10rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;

    form {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .text-area {
            gap: 1rem;
            display: flex;
            align-items: center;
            height: 3rem;
            border: 1px solid #f5f5f5;
            background-color: #f5f5f5;
            width: 30%;
            padding-left: 1rem;
            border-radius: 6px;

            .search-icon {
                font-size: x-large;
            }

            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }

        .select {
            font-size: larger;
            width: 12rem;
            height: fit-content;
            border-radius: 6px;
            background-color: transparent;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 5px;

            &:hover {
                background-color: #f1f1f1;
            }

            .label {
                cursor: pointer;
                border-radius: 6px;
                border: 1px solid #f5f5f5;
                background-color: #f5f5f5;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 3rem;

                p {
                    margin: 0;
                    font-size: small;
                    font-weight: 600;
                }

                .down-icon,
                .up-icon {
                    // transform: rotate(0deg);
                    transition: transform 300ms;
                }
            }

            .option {
                display: none;
                border-radius: 6px;
                border: 1px solid #f5f5f5;
                background-color: #f5f5f5;
                z-index: 1;
                position: absolute;
                top: 10.25rem;
                width: inherit;

                p {
                    cursor: pointer;
                    margin: 0;
                    font-size: small;
                    padding: 0 1.5rem;
                    line-height: 1.5rem;
                }
            }
        }

    }

    .country-item {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .country-card {
            width: 15rem;
            height: 20rem;
            border: 1px solid black;
            border-radius: 8px;

            .flag {

                border-radius: 8px;
            }

            .description {


                h2 {
                    margin: 16px 0 16px 2rem;
                }

                p {
                    margin: 5px 0 0 2rem;


                }
            }
        }
    }
}