.theme-header {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px rgb(200, 198, 198);
    transition: all 250ms;

    h2 {
        margin: 0 5rem;
        display: flex;
        align-items: center;
    }

    .theme-button {
        cursor: pointer;
        margin: 0 5rem;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: large;
    }
}