@font-face {
  font-family: 'Hanken';
  src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Hanken', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Hanken', sans-serif;
}